
.loginArea{
    margin-top: 10%;
}

h1{
    font-size:140%;
    font-weight:300;
    text-align:center;
    color:#fff;
}

.loginBlock{
    background:#f0f0f0;
    padding:6% 4%;

    .iconBox{
        width:20px;
        height:20px;
        background-color:#004A3E;
        float:left;
        padding:4% 4% 4% 4%;
        margin-bottom:4%;
        background-repeat:no-repeat;
        background-position:center;
        border:1px solid #ccc;
    }

    input{
        width:76%;
        height:20px;
        margin-bottom:4%;
        border:1px solid #ccc;
        padding:4% 4% 4% 4%;
        font-family:'Open Sans',sans-serif;
        font-size:95%;
        color:#555;
    }
}

.iconPassword{
    background-image:url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f09c-32.png);
}

.iconUser{
    background-image:url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f007-32.png);
}

.loginBtn{
    width:100%;
    background:#004A3E;
    border:0;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;

    &:hover{
        background:#53B9A8;
    }
}